nav a {
    -webkit-font-smoothing: antialiased;
}

article {
  margin-top: 30px;
}

article a {
  color: #cccccc;
  text-decoration: underline;
}

article a:hover {
  color: #B8B8B8
}

.fellow.card-panel {
  margin-bottom: 50px;
}

.contact ul li {
    display: inline;
}

.contact .fa {
  color: #000;
}
