@import "_mixins.scss";

html {
  font-size: 85%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
//  background: transparent url(/images/aptibilder.png) no-repeat center 20px fixed;
//  background-size: 300%;
//	background-color: rgb(238, 85, 85);
	background-color: #333;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

main .parallax-container {
	position: fixed;
	width: 100%;
	height: 450px;
	.parallax {
		img {
			display: block;
		}
	}
}

main > section {
  max-height: 250px;
  min-height: 200px;
  border-bottom: 10px solid #fff;
  overflow-y: hidden;
  padding: 20px 0 40px 0;
  position: relative;
  transition: max-height .5s ease;
  &:last-child {
    border-bottom: 0 none;
  }
  h2 img {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  .expand {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 125px;
    overflow: hidden;
    .fa {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      font-size: 150px;
      text-align: center;
      line-height: .6;
      text-shadow: 0 10px 0 rgba(0,0,0,.15);
      opacity: .3;
      transition: opacity .5s ease;
      &:before {
        margin: 0 auto;
      }
      &:hover {
        opacity: .75;
        cursor: pointer;
      }
    }
  }
  .contract {
    display: none;
    &.top {
      position: absolute;
      top: 0;
      width: 100%;
      height: 125px;
      overflow: hidden;
      .fa {
        display: block;
        font-size: 150px;
        text-align: center;
        line-height: .75;
        text-shadow: 0 10px 0 rgba(0,0,0,.15);
        opacity: .3;
        transition: opacity .5s ease;
        &:before {
          margin: 0 auto;
        }
        &:hover {
          opacity: .75;
          cursor: pointer;
        }
      }
    }
    &.bottom {
       position: absolute;
      bottom: 0;
      width: 100%;
      height: 40px;
      background-color: rgba(0, 0, 0, .2);

      .fa {
        display: block;
        font-size: 36px;
        text-align: center;
        line-height: .9;
        text-shadow: 0 10px 0 rgba(0,0,0,.15);
        opacity: .3;
        transition: opacity .5s ease;
        &:before {
          margin: 0 auto;
        }
        &:hover {
          opacity: .75;
          cursor: pointer;
        }
      }
    }
  }
  &.expanded {
    max-height: none;
    .expand {
      display: none;
    }
    .contract {
      display: block;
    }
  }
}
#logo {
  min-height: 0;
  max-height: none;
  padding: 0;
  margin-bottom: 0;
  .row {
    margin-bottom: 0;
  }
  .responsive-img {
    max-height: 280px;
    margin: 40px auto 10px auto;
    display: block;
  }
  .parallax-container {
	  height: 280px;
  }
  .links {
	margin-bottom: 30px;
	img {
		height: 50px;
	}
  }
}
#about {
  background-color: rgb(30, 133, 154);
  @include expand-background(rgba(0, 73, 94, 0),rgba(30, 133, 154, 1));
}
#aptitud-day {
  background-color: rgb(122, 151, 82);
  @include expand-background(rgba(72, 101, 32, 0),rgba(122, 151, 82, 1));
  .card-panel {
    background-color: #eee;
    color: #000;
  }
}
#contact {
  background-color: rgb(254,190,16);
  @include expand-background(rgba(187, 123, 0, 0),rgba(254, 190, 16, 1));
  .card {
    background-color: #eee;
    color: #000;
    .card-title {
      font-weight: 200;
      text-transform: uppercase;
      margin-top: 0;
    }
    .card-action {
      background-color: rgba(0,0,0,0.05);
      z-index: 0;
      a {
        color: #039be5 !important;
      }
    }
    p {
      font-size: 20px;
    }
  }
  .links {
	margin-top: 10px;
	img {
		height: 60px;
	}
  }
}
#fellows {
  background-color: rgb(255,102,51);
  @include expand-background(rgba(205, 52, 1, 0),rgba(255, 102, 51, 1));
  #fellow-list {
	  margin: 0 .75rem;
  }
  .fellow {
    .card-panel {
      overflow: hidden;
      padding: 0;
      background-color: #eee;
      color: #000;
      .row {
        padding: 20px;
      }
      .info {
        position: relative;
        margin-bottom: 0;
        &:before {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 60px;
          /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,1e859a+100&0+0,1+100 */
          background: -moz-linear-gradient(top, rgba(238,238,238,0.5) 0, rgba(238,238,238,1) 30px);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, rgba(238,238,238,0.5) 0,rgba(238,238,238,1) 30px);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, rgba(238,238,238,0.5) 0,rgba(238,238,238,1) 30px);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#1e859a',GradientType=0 );
          /* IE6-9 */
        }
        .desc {
          height: 370px;
          overflow-y: auto;
		  h4 {
			  margin-top: .5rem;
		  }
		  p {
			  margin: 0;
			  line-height: 1.2;
		  }
        }
      }
      .contact {
        padding: 0 20px;
        margin: 0;
        background-color: rgba(0,0,0,0.05);
        clear: both;
        .col {
          padding: 0;
        }
      }
      ul > li {
        display: inline;
        .fa {
          font-size: 20px;
        }
      }
    }
  }
}
#aptigram {
  background-color: rgb(120,78,144);
  @include expand-background(rgba(70, 28, 94, 0),rgba(120, 78, 144, 1));

  .polaroids {
    padding-left: 0;
    padding-right: 0;
    a {
      -webkit-transition: -webkit-transform .15s linear;
      -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
      -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
      background-color: #fff !important;
      display: inline;
      float: left;
      margin: 0 15px 27px 15px;
      width: auto;
      padding: 10px 10px 15px;
      font-family: 'Gloria Hallelujah', cursive;
      text-decoration: none;
      text-align: left;
      color: #333;
      font-size: 14px;
      -webkit-transform: rotate(-2deg);
      -moz-transform: rotate(-2deg);
      &:hover {
        -webkit-transform: scale(1.25) !important;
        -moz-transform: scale(1.25) !important;
        position: relative;
        z-index: 5;
      }
      &:after {
        content: attr(title);
        display: block;
        max-width: 200px;
        padding-left: 5px;
        text-align: left;
      }
    }
    .polariod {
      display: inline-block;
      min-height: 400px;
      &:nth-child(even) {
        a {
          -webkit-transform: rotate(2deg);
          -moz-transform: rotate(2deg);
        }
      }
      &:nth-child(3n) a {
        -webkit-transform: none;
        -moz-transform: none;
        position: relative;
        top: -5px;
      }
      &:nth-child(5n) a {
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        position: relative;
        right: 5px;
      }
      &:nth-child(8n) a {
        position: relative;
        top: 8px;
        right: 5px;
      }
      &:nth-child(11n) a {
        position: relative;
        top: 3px;
        left: -5px;
      }
    }
    img {
      max-width: 200px;
      margin-bottom: 5px;
    }
    .location {
      display: block;
      font-size: 10px;
      text-align: left;
      padding: 0 0 0 5px;
      margin-bottom: 5px;
    }
  }

}
.section-img {
  float: left;
  margin: 0 30px 20px 0;
}
.hidden-link {
  color: #fff;
}
.hidden-link:hover {
  color: rgb(238, 85, 85);
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}
