body {
    font-family: 'Open Sans', serif;
    font-weight: lighter;
    background-color: transparent;
    color: #2A363B;
}

.home-image {
    width: 60%;
}

.fellows .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fellow img {
    margin-top: 10px;
}

/*Bootstrap navigation styles*/
.navbar-aptitud {
    background-color: transparent !important;
}

.navbar-aptitud .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    font-size: 1.2em;
    line-height: 1;
}

.navbar-aptitud .navbar-collapse {
    text-align: center;
}

.navbar-aptitud .navbar-brand {
    color: #2a363b;
}

.navbar-aptitud .navbar-brand:hover, .navbar-aptitud .navbar-brand:focus {
    color: #2a363b;
}

.navbar-aptitud .navbar-text {
    color: #2a363b;
}

.navbar-aptitud ul.nav a:hover {
    background-color: transparent !important;
}

.navbar-aptitud ul.nav a:visited {
    background-color: transparent !important;
}

.navbar-aptitud .navbar-nav > li > a {
    color: #fff;
}

.navbar-aptitud .navbar-nav > li > a:hover, .navbar-aptitud .navbar-nav > li > a:focus {
    color: #2a363b;
}

.navbar-aptitud .navbar-nav > .active > a, .navbar-aptitud .navbar-nav > .active > a:hover, .navbar-aptitud .navbar-nav > .active > a:focus {
    color: #2a363b;
    background-color: transparent !important;
}

.navbar-aptitud .navbar-nav > .open > a, .navbar-aptitud .navbar-nav > .open > a:hover, .navbar-aptitud .navbar-nav > .open > a:focus {
    color: #2a363b;
    background-color: transparent !important;
}

.navbar-aptitud .navbar-toggle {
    border-color: transparent;
}

.navbar-aptitud .navbar-toggle:hover, .navbar-aptitud .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-aptitud .navbar-toggle .icon-bar {
    background-color: #2a363b;
}

.navbar-aptitud .navbar-collapse,
.navbar-aptitud .navbar-form {
    border: 0px
}

.navbar-aptitud .navbar-link {
    color: #2a363b;
}

.navbar-aptitud .navbar-link:hover {
    color: #2a363b;
}

@media (max-width: 767px) {
    .navbar-aptitud .navbar-nav .open .dropdown-menu > li > a {
        color: #2a363b;
    }

    .navbar-aptitud .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-aptitud .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #2a363b;
    }

    .navbar-aptitud .navbar-nav .open .dropdown-menu > .active > a, .navbar-aptitud .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-aptitud .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #2a363b;
        background-color: transparent !important;
    }
}

.default-text {
    color: #ffffff;
}

a {
    color: #dadada;
}
a:visited, a:active, a:hover, a:link, a:focus {
    background-color: transparent !important;
}

h1, h2, h3, h4, h5, p, li {
    color: #ffffff;
}

#tweetMapFrame {
    height: 100vh;
    width: 100vh;
}